sif/*.sif
sif/
build_logs/
dockerfiles/STAR
dockerfiles/featureCounts
dockerfiles/subread-*
dockerfiles/obsolete/
.coverage
coverage.json
tests/__pycache__/
omnibioai_tool_images.egg-info/
*.egg-info/
push_omnibioai.log
htmlcov/
coverage_html/
